.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}
.bg{
    -fx-background-color: #F58400;
}

